.head1 {
  color: #999999;
  font-size: 30px;
  font-family: Gilroy-Light;
  text-align: center;
  padding-top: 34px;
  padding-bottom: 30px;
}
.arrow-head {
  width: 14px;
  height: 28px;
  top: 110px;
  @media(max-width: 831px) {
    top:101px;
  }
}
