@font-face {
    font-family: 'Avenir-Regular';
    src: url("/assets/fonts/Avenir/Avenir-Regular.ttf") format("truetype");
}
@font-face {
    font-family: 'Avenir-Light';
    src: url("/assets/fonts/Avenir/Avenir-Light.ttf") format("truetype");
}
@font-face {
    font-family: 'Avenir-Bold';
    src: url("/assets/fonts/Avenir/Avenir-Bold.ttf") format("truetype");
}
@font-face {
    font-family: 'Avenir-Medium';
    src: url("/assets/fonts/Avenir/Avenir-Medium.ttf") format("truetype");
}
